---
export interface Props {
  title: string;
  subtitle: string;
  body: string;
  href: string;
}

const { title, subtitle, body, href } = Astro.props as Props;
---

<article>
  <header>
    <h2 class="title">
      {title}
      <span class="gradient-text arrow" aria-hidden="true">&rarr;</span>
    </h2>
    <span class="subtitle">
      {subtitle}
    </span>
  </header>
  <main>
    {body}
  </main>
  <a href={href} target="_blank" rel="noopener noreferrer">
    <span class="visually-hidden">
      Visit project website:
      {title}
    </span>
  </a>
</article>

<style lang="scss">
  article {
    --color-bg: rgb(34, 34, 34);

    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    background: var(--color-bg);
    border-radius: 0.5rem;

    &::before {
      content: "";
      opacity: 0;
      background: linear-gradient(
        to right,
        var(--color-gradient-from) 33.33%,
        var(--color-gradient-to)
      );
      transition: opacity 0.25s cubic-bezier(0.19, 0.1, 0.61, 1.08);
      border-radius: inherit;
      position: absolute;
      inset: 0;
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover > header > .title > .arrow {
      transform: translateX(0);
      opacity: 1;
    }

    > header,
    main {
      position: relative;
      background: var(--color-bg);
    }

    > header {
      border-top-left-radius: 0.2rem;
      border-top-right-radius: 0.2rem;
      padding: 0.5rem 0.5rem 0.25rem 0.5rem;

      > .title {
        font-size: var(--font-size-lg);

        > .arrow {
          display: inline-block;
          transition: transform 0.3s cubic-bezier(0.43, 0.9, 0.88, 0.93),
            opacity 0.5s cubic-bezier(0.43, 0.9, 0.88, 0.93);
          transform: translateX(-1.5rem);
          opacity: 0;
        }
      }

      > .subtitle {
        font-size: var(--font-size-sm);
        color: rgb(173, 173, 173);
      }
    }

    main {
      border-bottom-left-radius: 0.2rem;
      border-bottom-right-radius: 0.2rem;
      padding: 0.25rem 0.5rem 0.5rem 0.5rem;
    }

    > a {
      position: absolute;
      inset: 0;
      text-decoration: none;
    }
  }
</style>
